<div class="list row">
  <div class="col-md-12">
    <div class="mt-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by title"
        [(ngModel)]="title"
      />
      <button class="btn btn-outline-secondary mt-2" (click)="searchTitle()">
        Search
      </button>
    </div>
    <h4>Tutorials List</h4>
    <select class="form-control mb-3" [(ngModel)]="selectedYear" (change)="onYearChange()">
      <option *ngFor="let year of availableYears" [value]="year">{{ year }}</option>
    </select>
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Status</th>
          <th *ngFor="let month of months">{{ month }}</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tutorial of filteredTutorials">
          <td>
            <span *ngIf="!tutorial.isEditing">
              <a [routerLink]="['/tutorials', tutorial.title]">{{ tutorial.title }}</a>
            </span>
            <select *ngIf="tutorial.isEditing" class="form-control" [(ngModel)]="tutorial.title">
              <option *ngFor="let choice of titleChoices" [value]="choice">{{ choice }}</option>
            </select>
          </td>
          <td>
            <span *ngIf="!tutorial.isEditing">{{ tutorial.description }}</span>
            <input *ngIf="tutorial.isEditing"
              type="text"
              class="form-control"
              [(ngModel)]="tutorial.description"
              name="description"
            />
          </td>
          <td>{{ tutorial.published ? "Published" : "Pending" }}</td>
          <td *ngFor="let month of months">
            <input *ngIf="tutorial.isEditing" type="text" class="form-control" [(ngModel)]="tutorial[month]"/>
            <span *ngIf="!tutorial.isEditing">{{ tutorial[month] }}</span>
          </td>
          <td>
            <button *ngIf="!tutorial.isEditing" class="badge badge-primary mr-2" (click)="editTutorial(tutorial)">Edit</button>
            <div *ngIf="tutorial.isEditing">
              <button class="badge badge-success mr-2" (click)="updateTutorial(tutorial)">Update</button>
              <button class="badge badge-danger mr-2" (click)="deleteTutorial(tutorial.id)">Delete</button>
              <button class="badge badge-secondary mr-2" (click)="cancelEdit(tutorial)">Cancel</button>
              <button class="badge badge-warning mr-2" *ngIf="!tutorial.published" (click)="updatePublished(tutorial, true)">Publish</button>
              <button class="badge badge-warning mr-2" *ngIf="tutorial.published" (click)="updatePublished(tutorial, false)">Unpublish</button>
            </div>
          </td>
        </tr>
        <tr *ngIf="addingNewTutorial">
          <td>
            <select class="form-control" [(ngModel)]="newTutorial.title">
              <option *ngFor="let choice of titleChoices" [value]="choice" [disabled]="isTitleDisabled(choice)">
                {{ choice }}
              </option>
            </select>
          </td>
          <td>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="newTutorial.description"
              name="description"
            />
          </td>
          <td>{{ newTutorial.published ? "Published" : "Pending" }}</td>
          <td *ngFor="let month of months">
            <input type="text" class="form-control" [(ngModel)]="newTutorial[month]"/>
          </td>
          <td>
            <button class="badge badge-success mr-2" (click)="saveNewTutorial()">Save</button>
            <button class="badge badge-secondary mr-2" (click)="cancelNewTutorial()">Cancel</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary mb-3" (click)="addNewTutorial()">Add Tutorial</button>
    <button class="btn btn-danger mb-3 ml-2" (click)="removeAllTutorials()">Remove All</button>
  </div>
</div>
